<section class="cards">
    <div class="container">
        <h2 class="cards__title">What we do to help
            our client grow in
            digital era,</h2>
        <ul class="cards__list">
            <li class="cards__item">
                <div class="cards__img-wrap">
                    <img src="./img/bring-technology.svg" alt="Bring_Technology" class="cards__img cards__img--woman"
                        width="224" height="197">
                </div>
                <h3 class="cards__item-name">Bring Technology To Your
                    Comfrotable Home</h3>
                <p class="cards__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                </p>
                <a href="#" class="cards__link">Learn more</a>
            </li>
            <li class="cards__item">
                <div class="cards__img-wrap">
                    <img src="./img/better-business.svg" alt="Better_Business" class="cards__img cards__img--man"
                        width="182" height="132">
                </div>
                <h3 class="cards__item-name">Make Your business To Be
                    Better Famous In Internet</h3>
                <p class="cards__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                </p>
                <a href="#" class="cards__link">Learn more</a>
            </li>
            <li class="cards__item">
                <div class="cards__img-wrap">
                    <img src="img/digital-product.svg" alt="Digital_Product" class="cards__img cards__img--girl"
                        width="156" height="131">
                </div>
                <h3 class="cards__item-name">Build Your Digital Product
                    That Suitable For Your Need</h3>
                <p class="cards__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                </p>
                <a href="#" class="cards__link">Learn more</a>
            </li>
        </ul>
    </div>
</section>