<section class="client">
    <div class="container">
        <div class="client__text">
            <h2 class="client__title">Our Beloved
                Client</h2>
            <p class="client__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
        </div>
        <table class="client__table">
            <tr class="client__row client__row--top">
                <td class="client__cell"><a href="#" class="client__link">logo client 1</a></td>
                <td class="client__cell"><a href="#" class="client__link">logo client 2</a></td>
                <td class="client__cell"><a href="#" class="client__link">logo client 3</a></td>
                <td class="client__cell"><a href="#" class="client__link">logo client 4</a></td>
            </tr>
            <tr class="client__row">
                <td class="client__cell"><a href="#" class="client__link">logo client 5</a></td>
                <td class="client__cell"><a href="#" class="client__link">logo client 6</a></td>
                <td class="client__cell"><a href="#" class="client__link">logo client 7</a></td>
                <td class="client__cell"><a href="#" class="client__link client__link--more">More Client</a>
                </td>
            </tr>
        </table>
    </div>
    <footer class="footer">
        <div class="footer__top">
            <div class="container">
                <h2 class="footer__title">Intersted to woek with our team?</h2>
                <p class="footer__description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
                <div class="container__btn">
                    <button class="footer__btn-talk button">Let’s Talk</button>
                </div>
            </div>
        </div>
        <div class="footer__down">
            <div class="container">
                <div class="footer__down-wrap">
                    <div class="footer__contacts">
                        <a href="index.html" class="footer__main-link">
                            <img src="./img/logo-footer.svg" alt="Логотип" class="footer__logo-img" width="48"
                                height="32">
                            <p class="footer__name">Afrianska</p>
                        </a>
                        <p class="footer__contact footer__contact--address">
                            <span class="footer__contact-letter">A.</span>
                            <span class="footer__contact-link footer__contact-link--address">Lorem ipsum dolor
                                sit amet, consectetur adipisicing elit.</span>
                        </p>
                        <p class="footer__contact footer__contact--phone">
                            <span class="footer__contact-letter">T.</span>
                            <a href="tel:+6281273134321" class="footer__contact-link">+62-812-7313-4321</a>
                        </p>
                        <p class="footer__contact footer__contact--email">
                            <span class="footer__contact-letter">E</span>
                            <a href="mailto:hello.afrian@gmail.com"
                                class="footer__contact-link">hello.afrian@gmail.com</a>
                        </p>
                    </div>
                    <div class="footer__about">
                        <h3 class="footer__list-name">About US</h3>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a href="#" class="footer__item-link">About</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__item-link">What We Do</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__item-link">Project</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__item-link">How It Work With Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__follow">
                        <h3 class="footer__list-name">Follow US</h3>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a href="#" class="footer__item-link">Instagram</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__item-link">Facebook</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__item-link">LinkedIn</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__item-link">Youtube</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__copyright">2019 © Afrianska. All rights reserved.</div>
            </div>
        </div>
        <div class="footer__form-wrap">
            <form class="footer__form form">
                <h3 class="form__title">send us message</h3>
                <label for="name" class="form__label">Full Name</label>
                <input type="text" class="form__input" id="name" name="name" placeholder="Your Name"
                    data-inputForm="footer">
                <label for="email" class="form__label">Email</label>
                <input type="email" class="form__input" id="email" name="email" placeholder="Email"
                    data-inputForm="footer">
                <label for="message" class="form__label">Message</label>
                <textarea class="form__input form__input--textarea" id="message" name="message"
                    placeholder="Your Message" rows="3" data-inputForm="footer"></textarea>
                <button class="form__btn button" type="submit">submit</button>
            </form>
        </div>
    </footer>
</section>
</main>
<script src="js/main.min.js"></script>
</body>

</html>